* {
    padding: 0;
    margin: 0;
}
body{
    background-color:  #12181B;
}

.title {
    color: white;
    text-align: center;
    margin:2rem;
}

.display {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin:2rem;
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: 40% 40% 40%;
    grid-template-rows: 40% 40% 40%;
    width: 300px;
}

.box {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 80px;
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.control {
    text-align: center;
}

.control button {
    color: black;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5rem;
}